<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.team.ecobuilders.KDH_member.dto.KDH_MemberDTO" alias="KDH_MemberDTO"/>
		<typeAlias type="com.team.ecobuilders.ENT_member.dto.ENT_MemberDTO" alias="ENT_MemberDTO"/>
	</typeAliases>
</configuration>
